/*------------------------------------*\
  # CSS RESET
\*------------------------------------*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
 
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}





/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/

$bg: linear-gradient(to top left, #BBD4FF, #E6F2FF);
$text: #2A3238;






/*------------------------------------*\
  # TYPOGRAPHY AND BASE STYLES
\*------------------------------------*/

body {
  font-family: 'Raleway', sans-serif;
  background: $bg;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}





/*------------------------------------*\
  # HEADER
\*------------------------------------*/

header {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
  padding: 30px 30px 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;

  font-weight: 600;
  font-size: 1.6rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    display: flex;
    align-items: flex-start;
    gap: 7.5px;
  }

  .btn-styled {
    background-color: $text;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    svg {
      fill: white;
    }
  }
}

//variables

:root {
  --grid-rows: 32;
  --grid-cols: 32;
}





/*------------------------------------*\
  # MAIN
\*------------------------------------*/

main {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;

  .buttons-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .color-picker-container {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      img {
        display: none;
      }
    }

    .range-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
      
      input[type=range] {
        width: 75%;
      }
    }
    
  }

  .grid-container {

    .grid {
      margin-inline: auto;
      border-right: 1px solid rgb(202, 202, 202);
      border-bottom: 1px solid rgb(202, 202, 202);
      background-color: white;
      display: grid;
      width: 600px;
      height: 600px;
      grid-template-rows: repeat(var(--grid-rows), 1fr);
      grid-template-columns: repeat(var(--grid-cols), 1fr);

      .grid-item-border {
        border-top: 1px solid rgb(202, 202, 202);
        border-left: 1px solid rgb(202, 202, 202);
      }
    }
  }
}




/*------------------------------------*\
  # FOOTER
\*------------------------------------*/

footer {
  background-color: $text;
  color: white;
  padding: 15px;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;

  img {
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    img {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
